@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#playlistModalSection swiper-container{
    width: 100%;
    height: 100%;
}

.bringinStorySliderContainer swiper-container{
    width: 100%;
}

.bringinStorySliderContainer swiper-container swiper-slide{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.btnVariantRadio{
    display: none;
}

.btnVariant{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    padding: 7px 10px;
    cursor: pointer;
}

.btnVariantRadio:checked + 
.btnVariant{
    background-color: white;
    color: #333333;
}
.btnVariantRadio:disabled + 
.btnVariant{
    opacity: 0.4;
}
.doneBtn{
    width: fit-content !important;
    padding: 7px 25px;
}
.countVariant{
    position: absolute !important;
    top: -5px !important;
    left: 90% !important;
}

.bringinDescriptionBox::-webkit-scrollbar {
    display: none;
}

.bringinDescriptionBox  p{
    color: white !important;
}

/* .bringinProductStorySlider .swiper-button-next{
    color: white;
} */
.bringinProductStorySlider swiper-container{
    color: white;
}